<%- include('./partials/header.ejs') %>

<div class="padder">


    <div class="types">
        <a>All Posts</a>
        <a>Travel</a>
        <a>My Top 5</a>
        <a>Art & Culture</a>
        <a href="/createBlog">Create new+</a>
    </div>

    <div class="blogs">
        <div class="blog-container">
            <% for(let i=0; i<blogs.length; i++) { %>
            <% if(Object.keys(blogs[i]).length !== 0) { %>
            <a class="card-verti" <%= "id=" + i %> href= "/editBlog/<%= i %>">
                <% let backgroundImage = "<div class='blog-image' style='background-image: url(" + blogs[i]['image'] + ");'></div>" %>
                <%- backgroundImage %>
                <div class="blog-content">
                    <div class="blog-info">
                        <p>Mar 23, 2023  . 1 min</p>
                    </div>
                    <div class="blog-preview">
                        <h2><%= blogs[i]['title'] %></h2>
                        <p><%= blogs[i]['content'] %></p>
                    </div>
                </div>
            </a>
            <% } %>
            <% } %>
        </div>
    </div>
</div>

<%- include('./partials/footer.ejs') %>